
/* fonts */

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
/* shared style */
.text-prymary{
    color: #FD6E0A;
}
.dark-2{
    color: #474747;
}

.btn-prymary{
    background-color: #FD6E0A;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    padding: 18px 36px;
    border: none;
}

.btn-gap{
    padding: 30px;
}

/* header style */
.header{
    background-image: url("/images/developer.png"), url("/images/header_bg.png");
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    background-color: #FFF8F3;
}
/* nav style */
nav{
    display: flex;
     align-items: center;
    justify-content: space-between;
    margin: 0 50px 230px;
}

.nav-title{ 
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner style */

 .banner{
    display: flex;
    justify-content: space-between;
    margin: 0 35px 0 230px;
} 
.banner-content{
    width: 585px;
}
.sub-title{
    font-size: 45px;
    width: 600;
}

.title{
    font-size: 85px;
    width: 700;
}

.title-desxrption{
    font-size: 18px;
    width: 400;
}

.img-tin{
    width: 585px;
}